.idea/*
out/*
test/*
*.class
banque_gr3.iml
src/.gitignore
src/README.md
META-INF/*
.idea/
out/
assets/lesOperations.xml
assets/Operation0.xml
assets/Operation1.xml
assets/Operation2.xml
assets/Operation3.xml
