<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">

    <servlet>
        <servlet-name>Coffre</servlet-name>
        <servlet-class>Controllers.CoffreController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Coffre</servlet-name>
        <url-pattern>/afficheAgences</url-pattern>
        <url-pattern>/enregistreCoffre</url-pattern>
        <url-pattern>/mesCoffres</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Connexion</servlet-name>
        <servlet-class>Controllers.Connexion</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/connexion</url-pattern>
        <url-pattern>/moncompte</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Frais</servlet-name>
        <servlet-class>Controllers.FraisController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Frais</servlet-name>
        <url-pattern>/frais</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>Frais</filter-name>
        <filter-class>Controllers.FraisController</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Frais</filter-name>
        <url-pattern>/supprimerFrais/*</url-pattern>
    </filter-mapping>



    <filter>
        <filter-name>Filter</filter-name>
        <filter-class>Controllers.filter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Filter</filter-name>
        <url-pattern>/ajoutCoffre/*</url-pattern>
        <url-pattern>/coffre/*</url-pattern>
        <url-pattern>/supprimerCoffre/*</url-pattern>
    </filter-mapping>



</web-app>