@font-face {
    font-family: hexa;
    src: url(../fonts/Hexa.ttf);
}
html{
    height: 100%;
}
*{
    box-sizing: border-box;
}
body{
    background-color: lightblue;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
    background-image: url(../images/bg-image.jpg);
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
}
section{
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    box-shadow: dimgrey 0px 0px 5px;
    background-color: white;
    min-height: 100vh;
}
h1{
    font-family: hexa, sans-serif;
    margin: -20px -20px 25px -20px;
    padding: 20px 20px;
    border-bottom: 1px solid black;
    color: #12426A;
}
nav{
    background-color: black;
    width: 100%;
}
nav ul{
    width: 1024px;
    padding: 10px 0;
    margin: 0 auto;
}
nav ul li{
    display: inline-block;
    width: 20%;
    list-style-type: none;
    color: #77C2FF;
}
nav a{
    text-decoration: none;
}